/* RESET DEFAULT */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h5, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h5, h5, h6 { font-size:100% }
q:before, q:after { content:''}
strong { font-weight: bold }
em { font-style: italic }
ol, ul, li { list-style:none }
* a { position:relative } 
a { outline:none }        
a img { border:none }     

/* TYPOGRAPHY */
body                   { font-family: 'Geneva', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif }
#welcome, em, .proj, q { font-family: 'Hoefler Text', Georgia, 'Times New Roman', Times, serif bold;}

body          { text-align: center; }
#welcome      { font-size: 1.15em; line-height: 1.35em; letter-spacing: -1px;}
#footer_box   { font-size: 0.7em; line-height: 2em;}
.proj         { font-size: 1.2em;  font-weight: bold;}
em         { font-variant: small-caps; font-style: normal; letter-spacing: 0px; }
.desc         { font-size: 0.75em;  }
h1 a          { text-indent:-9999px;}
.link         { font-weight: bold;}
.email        { letter-spacing: -2px;}
q             { font-style: italic;}

/* COLORS AND BACKGROUNDS */
body                    { color: #232; background:#fff;}
h1 a                    { background:url(../images/bg_h1.gif) top left no-repeat }
h1, a:hover, a.download:hover             { background-color: #fff373;}
#footer_box             { background-color: #f0f5f0;}
.proj                   { color: #111;}
.desc                   { color: #232;}
strong                  { color: #435143;}
a, .link                { color: #1f43f3; }
a:visited               { color: #2f53d3; }
a img                   { border-color: #3f43f3;}
a:hover, a:hover .link  { color: #e01343;}
a:hover img             { border-color: #e01343;}

/* LAYOUT */
body, h1 a, ol                { margin: 0 auto 0 auto;}
h1, #welcome, #footer_box     { margin: 15px auto 10px auto;}
#footer_box                   { margin: 15px auto 5px auto;}
h1                            { width:100%;  height:75px; clear: both; padding: 5px 0 3px 0;}
h1 a                          { width:288px; height:75px; display:block; overflow:hidden;}
#footer_box                   { width: 100%; clear: both; margin-bottom: 5px;} 
em                         { margin-bottom: 5px;}
.proj, .desc                  { display: block; }

/* LIST */
ol       { width: 960px;  }
ol li       { width: 270px; float:left; border: 1px dashed #f9f9f9; padding: 13px 24px 13px 24px; min-height: 240px;}
ol li a     { display: block; text-decoration: none; width: 100%; padding: 5px;}
ol li img   { width: 250px; height: 130px; border:3px solid; margin: 0px 7px 5px 7px;}
ol li.left  { clear: left;}
ol li.right { clear: right;}
ol li em { display: block; color: #999;}

/* OTHER PAGES */

#content p {text-indent: 0.75em; text-align: left; font-family: 'Hoefler Text'; font-size: 1.05em; line-height: 1.45em; padding: 3px 0px 3px 0;}
#content img {border: 1px dashed #f9f9f9; clear: both; float: left; width: 800px; margin: 10px 0 10px 0;}
#content {width: 800px; margin: 0 auto 0 auto; }
#title {clear: left; float: left; width: 75%; line-height: 1em; font-family: 'Hoefler Text'; font-size: 2.7em; padding: 15px 0 5px 0; margin: 0; text-align: left;}
.download {clear: right; float: right; width: 25%; font-size: 1.2em; margin-top: 0.8em; background-color: #f0f5f0; padding: 7px 0px 7px 0px; letter-spacing: -1px; font-weight: bold; sline-height: 0.1em;}
#subtitle {clear: both; margin: 0px auto 30px auto; font-size: 0.75em; text-align: left;}
#subtitle em {font-size: 1.3em;}
.on  {color: #007700;}
.off {color: #770000;}

ul {width: 798px; margin: 0px auto 0px auto; background-color: yellow;}
ul li {width: 266px; float:left; font-size: 0.8em; margin: 30px 0 30px 0; }
.prev  {text-align: left;}
.next {text-align: right;}