/* COLORS */
body, a                               {background-color: #ebebeb}
li.light                              {color: white}
li.dark                               {color: black}
li.light aside                        {color: #ebebeb}
li.dark aside                         {color: #141414}

a                                     {color: #22f}
a:focus, a:hover                      {color: #551a8b}
a:visited                             {color: #439}
a:active                              {color: #f22}

/* WIDTHS */
body                                  {width: 960px}
@media (max-width:960px) {body        {width: 480px} }
li                                    {width: 376px; padding-left: 15px;  padding-right: 15px}
a                                     {width: 370px; padding-left: 3px; padding-right: 3px}
body                                  {margin-left: auto; margin-right: auto}
ul                                    {padding-left: 0; padding-right: 0}
li.left                               {margin-left: 52px;  margin-right: 12px}
li.right                              {margin-left: 12px;  margin-right: 52px}

/* HEIGHTS */
body                                  {margin-top: 0}
li                                    {height: 276px; padding-top: 15px; padding-bottom: 15px; margin-top: 12px;  margin-bottom: 12px}
a                                     {height: 24px; padding-top: 3px; padding-bottom: 3px}
h1                                    {height: 50px}
h1,h2                                 {margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0}
article                               {height: 184px; margin-bottom: 12px;}

/* LAYOUT */
li, a                                 {display: inline-block}
a                                     {outline: 0}
aside                                 {float: right}

/* TYPOGRAPHY */
body                                  {font-family: octicon, monospace}
h1                                    {font-family: octicans, Helvetica, sans-serif; font-weight: normal}
h1,h2                                 {font-weight: normal}
a                                     {text-align: center}
aside                                 {text-align: right}
a                                     {text-decoration: none}
h1                                    {font-size: 34px}
a                                     {font-size: 20px}
body                                  {font-size: 16px}
h2,aside                              {font-size: 14px}
a,article                             {overflow: hidden}
aside                                 {line-height: 20px}


/* GitHub octicons */
@font-face{
  font-family: 'octicans';
  src: url("fonts/octicons.eot");
  src: url("fonts/octicons.eot#iefix") format("embedded-opentype"),
       url("fonts/octicons.woff") format("woff"),
       url("fonts/octicons.ttf") format("truetype"),
       url("fonts/octicons.svg#octicons") format("svg");
  font-weight:normal;
  font-style:normal}

@font-face{
  font-family: 'octicon';
  src: url("fonts/octicon.eot");
  src: url("fonts/octicon.eot#iefix") format("embedded-opentype"),
       url("fonts/octicon.woff") format("woff"),
       url("fonts/octicon.ttf") format("truetype"),
       url("fonts/octicon.svg#octicon") format("svg");
  font-weight:normal;
  font-style:normal}

@font-face{
  font-family: 'octicons';
  src: url("https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.2/octicons.eot");
  src: url("https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.2/octicons.eot#iefix") format("embedded-opentype"),
       url("https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.2/octicons.woff") format("woff"),
       url("https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.2/octicons.ttf") format("truetype"),
       url("https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.2/octicons.svg#octicons") format("svg");
  font-weight:normal;
  font-style:normal}
.octicon{font:normal normal 16px octicons;line-height:1;display:inline-block;text-decoration:none;-webkit-font-smoothing:antialiased}
.octicon.git-commit:before{content:'\f01f'}
.octicon.git-star:before{content:'\f02a'}