<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>Claudio Baccigalupo &sect; {{ page.name }}</title>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Language" content="en" />
<meta name="language" content="en" />
<meta name="robots" content="all" />
<meta http-equiv="imagetoolbar" content="false" />

<meta name="author" content="claudiob@gmail.com" />
<meta name="Copyright" content="Claudio Baccigalupo" />
<meta name="Version" content="3.0" />

<meta name="description" content="Claudio Baccigalupo's GitHub home-page" />
<meta name="keywords" content="recommender systems, music, CBR, portfolio, CV, curriculum, work" />
<meta name="viewport" content="width=960" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<h1><a href="/" rel="Homepage" title="Home Page (accesskey 0)" accesskey="0">Claudio Baccigalupo</a></h1>
    
{{ content }}
  
<div id="footer_box">
    Last updated on September 6, 2009 &middot;
<!--    More about me at <a href="">claudio.baccigalupo.com</a> &bull;-->
    <q>Nothing short of everything will really do</q> &middot;
    Contact me at <span class="email"> c l a u d i o b @ g m a i l  . c o m</span>
    <!--&lt;Subscribe to <a href="">RSS</a>&gt;-->
</div>

</body></html>