---
layout: default
---
{% if page.action == 'browse' %}
{%  assign link = 'Browse the code' %}
{% elsif page.action == 'read' %}
{%  assign link = 'Read the thesis' %}
{% else %}
{%  assign link = 'Visit the page' %}
{% endif %}

{% if page.title == 'About' %}
{%  assign subtitle = 'resuming my' %}
{% else %}
{%  assign subtitle = 'coded in' %}
{% endif %}


{% capture in %}in <em>{{ page.to }}</em>{% endcapture %}
{% capture between %}between <em>{{ page.from }}</em> and <em>{{ page.to }}</em>{% endcapture %}
{% if page.from == page.to %} 
{%  assign period = in %} 
{% else %}
{%  assign period = between %} 
{% endif %}

{% capture on %}(<span class="on">{{ page.status }}</span>){% endcapture %}
{% capture off %}(<span class="off">{{ page.status }}</span>){% endcapture %}
{% if page.active %}
{%  assign status = on %} 
{% else %}
{%  assign status = off %} 
{% endif %}

<div id="content">
  <h2>{{ page.name | replace:'/','<span>/</span>' }}</h2>
  {% if page.link %}
  <a href="{{ page.link }}" class="download" title="{{link}}">{{link}}</a>
  {% endif %}
  <h3>
  {{subtitle}} <em>{{ page.language | downcase }}</em> {{period}} {{status}}
  </h3>
  {{ content }}

  <ul>
    <li class="prev">
      {% for post in site.posts %}
      {%  if post.next.title == page.title %}
      <a href="{{post.url}}/" rel="prev" title="Previous project (accesskey 7)" accesskey="7">Previous: {{post.name}} &larr;</a>
      {%  endif %}
      {% endfor %}
    </li>  
    <li><a href="/" rel="start" title="Home Page (accesskey 0)" accesskey="0">Back to projects</a></li>
    <li class="next">
      {% for post in site.posts %}
      {%  if post.previous.title == page.title %}
      <a href="{{post.url}}/" rel="next" title="Next project (accesskey 9)" accesskey="9">&rarr; Next: {{post.name}}</a>
      {%  endif %}
      {% endfor %}
    </li>  
  </ul>

</div>